<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="Debug" value="N" />
      <add key="HoraInicio_Operaciones" value="6" />
      <add key="MinInicio_Operaciones" value="30" />
      <add key="HoraFin_Operaciones" value="21" />
      <add key="Minfin_Operaciones" value="58" />
      <!--<add key="HoraInicio_Operaciones" value="0" />
      <add key="MinInicio_Operaciones" value="10" />
      <add key="HoraFin_Operaciones" value="0" />
      <add key="Minfin_Operaciones" value="58" />-->
      <add key="Min_Timer" value="1" />

      <!--Ruta para registrar el LOG-->
      <add key="dirLogsTelko" value="C:\TELKO\MonitorCliente" />

      <!--Configuración para los string de conexion a las Basese de Datos-->
      <add key="strConnDBStudio_Telko_Sync" value="Data Source=DESKTOP-Q1MIBD1\SQL2019;User Id=sa;Password=entrada123;Initial Catalog=Studio_Telko_Sync;Connect Timeout=30" />
      <add key="strConnDBStudio_Vision" value="Data Source=DESKTOP-Q1MIBD1\SQL2019;User Id=sa;Password=entrada123;Initial Catalog=Studio_Vision_Forcade;Connect Timeout=30" />

      <!--Configuración para el uso del Servicio WEB-->
      <add key="TopeGUID" value="10" />
      <add key="TenantID" value="4" />
      <add key="UrlServicioWeb" value="http://localhost:20897/api/DistribucionRegistro/"/>

      <!--Configuración para que el Llblgenpro no agregue el nombre de la base en las queríes-->
      <add key="CatalogNameUsageSetting" value="1" />
      <add key="CatalogNameToUse" value="" />
    </appSettings>
</configuration>