<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 
  <appSettings>
    <add key="Debug" value="N" />
    <add key="HoraInicio_Operaciones" value="6" />
    <add key="MinInicio_Operaciones" value="30" />
    <add key="HoraFin_Operaciones" value="21" />
    <add key="Minfin_Operaciones" value="58" />
    <add key="Min_Timer" value="1" />
    
    <!--Ruta para registrar el LOG-->
    <add key="dirLogsTelko" value="C:\TELKO\MonitorTelko" />

    <!--Configuración para los string de conexion a las Basese de Datos-->
    <add key="strConnDBStudio_Telko_Sync" value="Data Source=DESKTOP-Q1MIBD1\SQL2019;User Id=sa;Password=entrada123;Initial Catalog=Studio_Telko_Sync;Connect Timeout=30" />
    <add key="strConnDBStudio_Vision" value="Data Source=DESKTOP-Q1MIBD1\SQL2019;User Id=sa;Password=entrada123;Initial Catalog=Studio_Vision;Connect Timeout=30" />

    <!--Configuración para que el Llblgenpro no agregue el nombre de la base en las queríes-->
    <add key="CatalogNameUsageSetting" value="1" />
    <add key="CatalogNameToUse" value="" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
